.features {
    padding-bottom: 0;
}

.features-icon__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-white-color);
    border-radius: 4px;
}

.features-list {
    display: flex;
}

.features__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features__title {
    font-weight: 700;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features__text {
    color: var(--secundary-text-color);
    line-height: 24px;
    letter-spacing: 0.42px;
}