.features {
    padding-bottom: 0;
}

.features-icon__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--background-white-color);
    border-radius: 4px;
    @media screen and (min-width: 1200px){
        width: 270px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
       width: 354px;
    }
}

.features-list {
    display: flex;
    @media screen and (min-width: 320px) and (max-width: 1199px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.features__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
        &:nth-child(odd) {
            margin-right: 30px;
        }
        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
        &:nth-child(n + 3) {
            margin-bottom: 60px;
        }
    }
    @media screen and (min-width: 1200px){
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    @media screen and (max-width: 767px){
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 767px){
        &:last-child {
            margin-bottom: 60px;
        }
    }
}

.features__title {
    font-weight: 700;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        text-align: center;
    }
}

.features__text {
    color: var(--secundary-text-color);
    line-height: 24px;
    letter-spacing: 0.42px;
}


