.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
    height: 80px;

    @media screen and (min-width: 320px) and (max-width: 767px){
        height: 60px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.nav {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px){
        width: 100%;
    }
}

.nav__list{
    display: flex;
    margin-left: 93px;
    padding: 0;

    @media screen and (max-width: 767px){
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 88px;
    }
}

.nav__item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.contact__list {
    display: flex;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
    }
}

.contact__item{
    @media screen and (min-width: 1200px){
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:last-child {
            margin-right: 15px;
            margin-top: 10px;
        }
    }
}

.header-logo {
    color: var(--primary-text-color);
    font-family: var(--secundary-font-family);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.logo-pr {
    color: var(--actent-color);
}

.nav__link {
    color: var(--primary-text-color);
    position: relative;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: block;
    padding: 32px 0;
    transition: color 250ms var(--animation-function);

    &:hover,
    &:focus {
        color: var(--actent-color);
    }
}

.nav__link.current{
    color: var(--actent-color);

    &::after {
        content:"";
        position: absolute;
        display: block;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--actent-color);
        border-radius: 2px;
    }
}

.contact__link {
    display: flex;
    align-items: center;
    color: var(--secundary-text-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 250ms var(--animation-function);

    &:hover,
    &:focus {
        color: var(--actent-color);
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 12px;
        line-height: 14px;
    }
}

.contact__icon__mail{
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 12px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 10px;
    }
}

.contact__icon__tel{
    margin-right: 10px;
    fill: currentColor;
    width: 10px;
    height: 16px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 10px;
        height: 14px;
    }
}