.section__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.work__list {
    display: flex;
}

.work__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__thumb {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);
}

.work__subtitle {
    color: var(--primary-white-color);
    text-align: center;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 27px;
}