:root {
    --primary-text-color: #212121;
    --primary-white-color: #FFF;
    --secundary-text-color: #757575;
    --actent-color: #2196F3;
    --actent-secundary-color: #188CE8;
    --background-white-color: #F5F4FA;
    --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font-family: Roboto, sans-serif;
    --secundary-font-family: Raleway, sans-serif;
}